.App {
    text-align: center;
}

button,
input {
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}

button {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #d1d1d1;
    transition: 0.2s ease-in-out;
}

.input-container {
    align-items: center;
    width: 15em;
    display: flex;
    flex-direction: column;
}
